.container {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
}

.content {
  display: flex;
  margin-top: 20px;
}

.left-block {
  margin-right: 20px;
  width: 400px;
}

.full-size-img {
  max-height: 80vh;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}