.card {
  width: 600px;
  padding: 20px;
  margin-bottom: 20px;
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.user-avatar {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}

.user-avatar-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.card-user {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.user-name {
  font-weight: bold;
}

.user-name:hover,
.card-button-like:hover {
  text-decoration: underline;
}

.user-nick {
  font-size: 14px;
  color: #6B778D;
}

.card-description {
  display: -webkit-box !important;
  font-size: 18px;
  margin-bottom: 10px;
  line-height: 1.4;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
}

.card-picture {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 350px;
  margin-bottom: 20px;
  cursor: pointer;
}

.card-picture-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.card-statistics {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #6B778D;
}

.card.is-loading .card-picture {
  background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
  border-radius: 5px;
  background-size: 200% 100%;
  animation: 1.5s shine linear infinite;
}

.card.is-loading .card-picture .card-picture-img {
  display: none;
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}