* {
  box-sizing: border-box;
}

html {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #03051E;
}

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
}

body.modal-open {
  overflow-y: hidden;
  margin-right: 15px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

figure {
  margin: 0;
}